.bar{
    margin-top: 15px;
    &__container{
        -webkit-transition: all 2.5s;
        transition: all 2.5s;
        
        position: relative;
        min-height: 15px;
    }
    &__description{
        display: grid;
        grid-template-areas: "name level";
        grid-template-columns: 1fr minmax(60px, auto);
    }
    &__level{
        grid-area: level;
    }
    &__name{
        grid-area: name;
    }
    &__shadow{
        position: absolute;
        height: 15px;
        width: 100%;
        z-index: 0;

        background-color: #E8E9E9;
    }
    &__value{
        position: absolute;
        height: 15px;
        width: 0px;
        z-index: 1;

        background-color: #69CA8E;
    }
}