.contact {
    margin: 20px 40px;
}

.description {
    margin: 0px;

    &__link {
        color: rgba(10, 10, 10, 0.5);
        font-family: 'Oswald', sans-serif;
        font-size: 2.4rem;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;        

        &:hover, &:active{
            color: rgba(10, 10, 10, 0.8);
        }
    }
}