.info{
    .social{
        margin: 0px;
        padding: 0px;
        
        &__list{
            margin: 0px;
            margin-top: 25px;
            padding: 0px;

            &__item{
                display: inline-block;  
                margin-right: 5px;              
            }

            &__link{
                padding: 10px 12px;

                background-color: #B0B7BF;
                border-radius: 100%;
                color: #fff;
                font-size: 18px;

                &:hover{
                    background-color: #CACACA;
                }
            }
        }
    }

}